<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724435385567-vd4u4g6amopkc05h1ovs558kqo9kt2va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724435385567-vd4u4g6amopkc05h1ovs558kqo9kt2va</string>
	<key>API_KEY</key>
	<string>AIzaSyAPi0vHl1Zw1XOTSz6JxQpRKw_wJCVN-Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>724435385567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingfb</string>
	<key>PROJECT_ID</key>
	<string>testfb-46eec</string>
	<key>STORAGE_BUCKET</key>
	<string>testfb-46eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724435385567:ios:a15abc4c7e71f561c2bd6a</string>
</dict>
</plist>